In [10]:
from functools import reduce

# Ejercicio 1: Elevar al cuadrado cada elemento de una lista usando map y lambda

In [ ]:
lista1 = [1, 2, 3, 4, 5]
resultado1 = list(map(lambda x: x**2, lista1))

print(resultado1)

[1, 4, 9, 16, 25]

# Ejercicio 2: Filtrar números pares de una lista usando filter y lambda

In [ ]:
lista2 = [10, 11, 12, 13, 14]
resultado2 = list(filter(lambda x: x % 2 == 0, lista2))

print(resultado2)

[10, 12, 14]

# Ejercicio 3: Sumar dos listas elemento a elemento usando lambda

In [ ]:
lista3_1 = [1, 2, 3]
lista3_2 = [4, 5, 6]
resultado3 = list(map(lambda x, y: x + y, lista3_1, lista3_2))

print(resultado3)

[5, 7, 9]

# Ejercicio 4: Multiplicar dos listas elemento a elemento usando zip

In [ ]:
lista4_1 = [2, 3, 4]
lista4_2 = [5, 6, 7]
resultado4 = list(map(lambda x, y: x * y, lista4_1, lista4_2))

print(resultado4)

[10, 18, 28]

# Ejercicio 5: Unir dos listas de strings usando zip

In [ ]:
lista5_1 = ['a', 'b', 'c']
lista5_2 = ['x', 'y', 'z']
resultado5 = [x + y for x, y in zip(lista5_1, lista5_2)]

print(resultado5)

['ax', 'by', 'cz']

# Ejercicio 6: Concatenar dos listas de listas usando lambda

In [ ]:
lista6_1 = [[1, 2], [3, 4], [5, 6]]
lista6_2 = [['a', 'b'], ['c', 'd'], ['e', 'f']]
resultado6 = list(map(lambda x, y: x + y, lista6_1, lista6_2))

print(resultado6)

[[1, 2, 'a', 'b'], [3, 4, 'c', 'd'], [5, 6, 'e', 'f']]

# Ejercicio 7: Sumar todos los elementos de una lista usando reduce y lambda

In [ ]:
lista7 = [1, 2, 3, 4, 5]
resultado7 = reduce(lambda x, y: x + y, lista7)

print(resultado7)

15

\# Ejercicio 8: Multiplicar todos los elementos de una lista usando reduce y lambda

In [ ]:
lista8 = [2, 3, 4, 5]
resultado8 = reduce(lambda x, y: x * y, lista8)

print(resultado8)

120

# Ejercicio 9: Encontrar el máximo de una lista usando reduce y lambda

In [ ]:
lista9 = [10, 2, 30, 4, 50]
resultado9 = reduce(lambda x, y: x if x > y else y, lista9)

print(resultado9)

50

# Ejercicio 10: Calcular el promedio de una lista usando reduce y lambda

In [ ]:
lista10 = [1, 2, 3, 4, 5]

suma = reduce(lambda x, y: x + y, lista10)

promedio = suma/len(lista10)

print(promedio)

3.0

# Ejercicio 11: Filtrar números primos de una lista usando filter y lambda. Debes crear el contenido de la función para determinar si el numero es primo o no

In [1]:
def es_primo(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

lista11 = [2, 3, 4, 5, 6, 7, 8, 9, 10]
resultado11 = list(filter(lambda x: es_primo(x), lista11))

print(resultado11)

[2, 3, 5, 7]

# Ejercicio 12: Convertir una lista de Celsius a Fahrenheit usando map y lambda

In [2]:
def celsius_a_fahrenheit(celsius):
    return (celsius * 9/5) + 32

lista12 = [0, 10, 20, 30, 40]
resultado12 = list(map(lambda x: celsius_a_fahrenheit(x), lista12))

print(resultado12)

[32.0, 50.0, 68.0, 86.0, 104.0]

# Ejercicio 13: Convertir una lista de kilómetros a millas usando map y lambda

In [3]:
def km_a_millas(km):
    return km * 0.621371

lista13 = [10, 20, 30, 40, 50]
resultado13 = list(map(lambda x: km_a_millas(x), lista13))

print(resultado13)

[6.21371, 12.42742, 18.64113, 24.85484, 31.068550000000002]

# Ejercicio 14: Contar la longitud de cada palabra en una lista de strings usando map y lambda

In [ ]:
lista14 = ['hola', 'como', 'estas']

resultado14 = list(map(lambda x: len(x), lista14))

print(resultado14)

[4, 4, 5]

# Ejercicio 15: Revertir cada palabra en una lista de strings usando map y lambda

In [4]:
lista15 = ['abc', 'def', 'ghi']

resultado15 = list(map(lambda x: x[::-1], lista15))
print(resultado15)  # ['cba', 'fed', 'ihg']

['cba', 'fed', 'ihg']

# Ejercicio 16: Eliminar valores None de una lista usando filter y lambda

In [5]:
lista16 = [1, None, 2, None, 3, None, 4]

resultado16 = list(filter(lambda x: x is not None, lista16))
print(resultado16)

[1, 2, 3, 4]

# Ejercicio 17: Duplicar los valores de una lista usando map y lambda

In [ ]:
lista17 = [1, 2, 3, 4]
resultado17 = list(map(lambda x: x * 2, lista17))

print(resultado17)

[2, 4, 6, 8]

# Ejercicio 18: Filtrar sublistas de una lista de listas basado en su longitud usando filter y lambda

In [6]:
lista18 = [[1, 2], [3], [4, 5, 6], [7, 8]]
resultado18 = list(filter(lambda x: len(x) > 2, lista18))

print(resultado18)

[[4, 5, 6]]

# Ejercicio 19: Concatenar dos listas usando reduce y lambda

In [13]:
lista19_1 = [[1, 2], [3, 4], [5, 6]]
lista19_2 = [['a', 'b'], ['c', 'd'], ['e', 'f']]
resultado19 = functools.reduce(lambda x, y: x + y, lista19_1 + lista19_2)

print(resultado19)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e', 'f']

# Ejercicio 20: Sumar los elementos de dos listas usando reduce y lambda

In [15]:
lista20_1 = [1, 2, 3]
lista20_2 = [4, 5, 6]

suma_lista1 = functools.reduce(lambda x, y: x + y, lista20_1)
suma_lista2 = functools.reduce(lambda x, y: x + y, lista20_2)

resultado20 = suma_lista1 + suma_lista2
print(resultado20)

21